.fancy-button {
    padding: 10px;
    background-color: #00bfff;
    color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.fancy-button:hover {
    background-color: #40cfff;
}

.pointer {
    cursor: pointer;
}

.blue {
    color: #00bfff;
}

.textarea {
    resize: none;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.blog-author-avatar {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-avatar-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}