.newblog-page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.newblog-container {
    background-color: #2a2a2a;
    margin: 2rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.newblog-container h1 {
    margin-bottom: 1rem;
    margin-top:0;
}

.newblog-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
}

.newblog-form label {
    font-weight: bold;
}

.newblog-form input,
.newblog-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    resize: vertical;
}

.newblog-form button {
    padding: 10px;
    background-color: #00bfff;
    color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.newblog-form button:hover {
    background-color: #0083af;
}
